.someStyleClass.ui-accordion .ui-accordion-header span.ui-icon  {
	margin-top: 2px;
  	float: right;
}
.layout-footer {
	position: fixed;
	bottom: 0;
	left: 0px;
	right: 0px;
	height: 40px;
}

label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    display: flex;
    height: 160px;
    justify-content: center;
    align-items: center;
}

label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail {
    border: 0;
}

label#thumbnail.has-thumbnail img{
    display: none;
}
.city-id > input {
	width: 100%;
}

.ui-calendar > input {
	width: 100%;
}
.capacidade > input {
	width: 100%;
}

body .ui-picklist .ui-picklist-list  {
	background-color: none !important;
}

ul.ui-widget-content.ui-picklist-list.ui-picklist-target.ui-corner-all.ui-sortable {
	float: right;
}

.layout-topbar-content {
	display: flex;
	justify-content: flex-end;
}

.customTopBar {
	color: white;
}